In [2]:
import pandas as pd
import numpy as np

In [3]:
# read 'temp.parquet' into df
df = pd.read_parquet('temp.parquet')

In [5]:
# write to json, list of objects
# format 'Date' column as string
df['Date'] = df['Date'].astype(str)
df.to_json('temp.json', orient='records')

In [5]:
df

,stock,Date,Open,High,Low,Close,Volume,OpenInt,cumulative_sentiment,silly_pos,silly_neg,silly_risk,better_pos,better_neg,better_neutral
0,AAPL,2016-01-04 09:00:00,98.7787,98.7955,98.7765,98.7933,945459,0,6.263,0.019355,0.019355,0.009677,0.100,0.025,0.875
1,AAPL,2016-01-04 09:01:00,98.9509,98.9616,98.9478,98.9584,9775,0,6.338,0.007117,0.005338,0.014235,0.099,0.037,0.864
2,AAPL,2016-01-04 09:02:00,98.9753,98.9818,98.9743,98.9809,105876,0,6.338,0.007117,0.005338,0.014235,0.099,0.037,0.864
3,AAPL,2016-01-04 09:03:00,98.9894,99.0004,98.9878,98.9988,41552,0,6.338,0.007117,0.005338,0.014235,0.099,0.037,0.864
4,AAPL,2016-01-04 09:04:00,98.8496,98.8648,98.8477,98.8629,101203,0,6.338,0.007117,0.005338,0.014235,0.099,0.037,0.864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32665,AAPL,2016-04-29 16:26:00,90.3918,90.4096,90.3916,90.4094,113973,0,95.822,0.013423,0.000000,0.013423,0.049,0.044,0.906
32666,AAPL,2016-04-29 16:27:00,90.3883,90.4021,90.3851,90.3989,336531,0,95.822,0.013423,0.000000,0.013423,0.049,0.044,0.906
32667,AAPL,2016-04-29 16:28:00,90.4870,90.5017,90.4846,90.4993,17618,0,95.822,0.013423,0.000000,0.013423,0.049,0.044,0.906
32668,AAPL,2016-04-29 16:29:00,90.3874,90.3950,90.3827,90.3903,29529,0,95.822,0.013423,0.000000,0.013423,0.049,0.044,0.906
32669,AAPL,2016-04-29 16:30:00,90.3295,90.3432,90.3294,90.3431,446014,0,95.822,0.013423,0.000000,0.013423,0.049,0.044,0.906